.homepage {
    background-image: url('rest.jpg'); /* Dodanie zdjęcia jako tło nagłówka */
    background-size: cover;
    background-position: center;
    padding: 50px 0; /* Dostosowanie wypełnienia dla wyświetlenia tekstu */
    background-repeat: no-repeat; /* Wyłączenie powtarzania tła */
    text-align: center; /* Wyśrodkowanie tekstu */
    height: 100vh; /* Ustawia wysokość sekcji na 100% wysokości widoku */
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 5rem;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(29, 29, 29, 0.5); /* Dodajemy kolorowe tło z przeźroczystością */
    padding: 40px; /* Dodajemy wypełnienie dla lepszego oddzielenia od tła */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Dodajemy cień */
    border-radius: 10px;
    
}

.btn-reserve-homepage {
    display: inline-block;
    padding: 15px 50px;
    background-color: #FFD700; /* Kolor przycisku */
    font-size: 25px;
    color: #333; /* Kolor tekstu */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Efekt przejścia */
}

.btn-reserve-homepage:hover {
    background-color: #FFA500; /* Kolor przycisku po najechaniu */
}
