body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('reserv_photo2.jpg'); /* Dodanie zdjęcia jako tło nagłówka */
    background-size: cover;
    background-position: center;
    padding: 50px 0; /* Dostosowanie wypełnienia dla wyświetlenia tekstu */
}

.container {
    max-width: 600px;
    margin: 50px auto;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 60px;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 0px;
}

input[type="text"],
input[type="email"],
select,
input[type="date"],
input[type="time"] {
    width: calc(100% - 22px); /* Ustawiamy szerokość pola odejmując padding i obramowanie */
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.date-picker, .time-picker, .people-picker {
    text-align: center;
}

.people-picker, .time-picker,
.select-wrapper {
    width: calc(100% + 19px); /* Ustawienie szerokości pola odejmując padding i obramowanie */
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

label:not(:last-child) {
    text-align: left;
}

button[type="submit"] {
    margin-top: 15px;
    width: calc(100% + 19px);
    padding: 20px;
    background-color: #FFD700;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
}

button[type="submit"]:hover {
    background-color: #FFA500;
}
